* {
    box-sizing: border-box;
}
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 105%;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
ul {
    list-style: none;
    padding: 0;
}
h2 {
    font-size: 2.5rem;
}

.body {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px) minmax(320px, 1fr));
    height: 100%;
}
nav {
    background-color: white;
    border-right: 1px solid #ccc;
}
nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333;

}
nav a:hover {
    background-color: #f5f5f5;
}
input {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1;
}
[type = "submit"] {
    /* reset button styles */
    background: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: inherit;
    /* add custom styles */
    background: linear-gradient(to bottom, #ededed, #fcfcfc);

}
[type = "submit"]:active {
    background: #fff;

}

.container {
    max-width: 80ch;
    width:100%;
    margin: 0 auto;
    padding: 0 2rem;
}
.shadowed {
    border-top: 3px solid #2a2a2a;
    border-bottom: 1px solid #ccc;
}
.dark {
    background-color: #f9f8fc;
}
.logo {
    font-size: 1.25rem;
    margin: 0;
}
.header {
    padding: 1rem;
}

.ais-Highlight-highlighted, .ais-Snippet-highlighted {
    background-color: #bdff24;
}
.ais-SearchBox-input {
    width: 100%;
}
.ais-SearchBox-submit, .ais-SearchBox-reset {
    display: none;
}
.ais-Pagination-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.ais-Pagination-link {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1;
    text-decoration: none;
    color: #333;
}
.form.one-liner {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

}
.form.one-liner [type="text"] {
    flex: 1;
}
.form.one-liner [type="submit"] {
    flex: 0;
}
.form.one-liner label {
    flex: 1 0 100%;
}